html {
  font-family: "Ubuntu Condensed", sans-serif;
}

.banner {
  background-image: url("../images/starfield.png")
}

.banner-content {
  color: #fff;
}

.btn {
  color: #b4fff4;
  border-color: #b4fff4;
  border-radius: 8px;
}
